/* container */
.container{
    max-width: 1440px;
    width: 100%;
    height: 3000px;
    margin: auto;
    padding-top: 126px;
    background-color: rgb(19, 163, 168 );
}
button{
    cursor: pointer;
    color: white;
    padding: 40px;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(0, 0, 0); 
    font-size: 100px;
    border-radius: 45px;
    border: none;
    background: none;
    text-shadow: 15px 15px 20px #000000;
    }
    button:active {
        box-shadow: 10px 10px 10px rgb(0, 0, 0) inset, -5px -5px 5px white inset;
        text-shadow: 1px 1px 10px #000000;
    }
    figure {
        width: 500px;
        padding: 20px;
        display: block;
        margin: 200px auto;
        border-radius: 10px;
        background-color: white;
        transition: box-shadow 0.5s linear;
    }
    figure:hover {
        box-shadow: 1px 1px 50px green, 0px 0px 100px green;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    figcaption{
        color: green;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }
    .title1{
        margin: 200px 0;
        text-align: center;
        font-size: 100px;
        animation: gradient 2s linear 1;
        animation-fill-mode: both;
        animation-delay: 0.2s;
        background: linear-gradient(to left, gold, black);
        background-size: 5000% 5000%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @keyframes gradient {
        0% {
            background-position: 102% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }
    .spiner_frame {
        width: 360px;
        margin: auto;
        position: relative;
    }
    .spinner {
        margin: auto;
        border: 48px solid #f3f3f3;
        border-radius: 50%;
        border-top: 48px solid rgb(0, 0, 255);
        border-right: 48px solid rgb(0, 128, 0);
        border-bottom: 48px solid rgb(255, 0, 0);
        border-left: 48px solid rgb(0, 0, 255);
        width: 360px;
        height: 360px;
        animation: spin 2s linear infinite;
    }
    .spinner:hover {
        animation-play-state: paused;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .spinner_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        letter-spacing: 20px;
    }
    header{
       margin-top: 200px;
       padding: 30px 250px;
       background-color: rgb(41, 36, 72);
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    a {
        color: blue;
        font-size: 50px;
        transition: text-shadow 0.2s linear;
    }
    a:hover {
        text-shadow:
        0 0 7px #6a91d4,
        0 0 10px #86b5e8,
        0 0 21px #6d94d2,
        0 0 42px rgb(31, 115, 189),
        0 0 82px rgb(49, 129, 163),
        0 0 92px rgb(33, 100, 182),
        0 0 102px rgb(42, 87, 142),
        0 0 151px rgb(0, 38, 255);
    }
    .loading_bar {
        margin: auto;
        position: relative;
    }
    .progress1 {
        margin: 300px auto;
        width: 80%;
        border-radius: 200px;
        border: 1px solid;
        position: relative;
     }
    .progress-bar1 {
        height: 120px;
        border-radius: 600px;
        position: relative;
    }
    .progress-moved .progress-bar1 {
        width: 100%; 
        background-color: #ef474d;
        animation: progressAnimation 5s;
    }
    @keyframes progressAnimation {
        0%   { width: 0%; background-color: rgba(249, 188, 202, 10%)}
        100% { width: 100%; background-color: #ef474d; }
    }
    .loading_text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%);
        letter-spacing: 20px;
    }
 
   